
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bonjour</title>
</head>
<body>
    <div> 
        <h2 style="background-color:aqua">Salut à toi l'inconnu</h2>
    </div>
</body>
</html>
